.card-content{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
    background-color: white;
    color: black;
}

.card-content:hover{
    background-color: rgb(224, 219, 219);
    transition: all 0.2s ease-out;
}
