.bar {
    border: 9px solid #1C6EA4;
    border-radius: 40px;
}

.bar-inside{
    background: red;
    border: 0px solid #1C6EA4;
    border-radius: 40px;
}

.bar-info{
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    word-spacing: 1.8px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}